@import "../Scss/variables";
@import "../Scss/mixings";

.product {
    &__details {
        display: flex;

        @include breakpoints-down-medium {
            flex-direction: column;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
        @include breakpoints-down-medium {
            margin-bottom: 1rem;
        }
        & button {
            padding: .7rem 1.7rem;
            border: 1px solid #ddd;
        }

        & button:first-child,
        button:last-child {
            cursor: pointer;
        }
    }

    &__btn {
        margin-left: .7rem;

        @include breakpoints-down-medium {
            margin-left: 0;
        }

        width: 100%;
        border-radius: .1rem;
        padding: .7rem;
        border: 0;
        color: #fff;
        background-color: $main-color;

        &:focus {
            outline: none;
        }
    }
}