@import "../Scss/variables.scss";

.navbar {
    padding: 1rem 0;
    //width: 100%;
    &__link {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        &:hover {
            color: $main-color;
        }
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__logo {
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        
        &:hover {
            color: $main-color;
        }
    }
}

;